{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email, {
        label: 'Email'
    }) }}
    {{ form_row(registrationForm.username, {
        label: 'Nom d\'utilisateur'
    }) }}
    {{ form_row(registrationForm.plainPassword, {
        label: 'Mot de passe'
    }) }}

    <button type="submit" class="btn btn-primary">Créer mon compte</button>
    {{ form_end(registrationForm) }}
{% endblock %}

